---
layout: base
title: Bookshelf
---

<h2>{{ page.title }}</h2>

Currently Reading:

<ul>
  <li><a href="https://amazon.co.uk/gp/product/0385421311">The Art of Worldly Wisdom</a></li>
  <li><a href="https://www.amazon.co.uk/Relationship-Manager-Andy-Thacker/dp/1548949833/">The Relationship Manager</a></li>
</ul>

Currently Listening:

<ul>
  <li><a href="https://www.audible.co.uk/pd/12-Rules-for-Life-Audiobook/B078Y7X7M4">12 Rules for Life</a></li>
</ul>

<ul>
{% for book in site.books %}
  <li><a href="{{ book.url }}">{{ book.title }}</a> - {{ book.description }}</li>
{% endfor %}
</ul>

{% include footer.html %}
