---
layout: page
title: Bookshelf
---

<h3>Currently reading:</h3>

<ul>
  {% for book in site.categories["books"] %}
    {% if book.finished %} {% continue %} {% endif %}
    {% assign folder = book.path | split: "/" | first %}
    <li><a href="{{ book.url }}">{% if folder == "_drafts" %}&#10033;&nbsp;{% endif %}{{ book.title }}</a> - {{ book.description }}</li>
  {% endfor %}
</ul>

<h3>Summaries:</h3>

<ul>
  {% for book in site.categories["books"] %}
    {% unless book.finished %} {% continue %} {% endunless %}
    {% assign folder = book.path | split: "/" | first %}
    <li><a href="{{ book.url }}">{% if folder == "_drafts" %}&#10033;&nbsp;{% endif %}{{ book.title }}</a> - {{ book.description }} {{ book.stars }}</li>
  {% endfor %}
</ul>

<h3>Completed:</h3>

<ul>
  <li>The Dark Tower VII: The Dark Tower, by Stephen King ★★★★</li>
  <li>The Dark Tower VI: Song of Susannah, by Stephen King ★★★</li>
  <li>The Dark Tower V: Wolves of the Calla, by Stephen King ★★★</li>
  <li>Homo Deus, by Yuval Noah Harari ★★★★</li>
  <li>Change Your Questions, Change Your Life, by Marilee G. Adams PhD ★★★★</li>
  <li>Sapiens, by Yuval Noah Harari ★★★★</li>
  <li>12 Rules for Life: An Antidote to Chaos, by Jordan B. Peterson ★★★★</li>
  <li>Principles: Life and Work, by Ray Dalio ★★★★★</li>
  <li>Enlightenment Now: The Case for Reason, Science, Humanism, and Progress, by Steven Pinker ★★★★★</li>
  <li>Johannes Cabal The Necromancer, by Jonathan L. Howard ★★★</li>
  <li>The Dark Tower IV: Wizard and Glass, by Stephen King ★★★★★</li>
  <li>Replay: The History of Video Games, by Tristan Donovan , Richard Garriott ★★★★★</li>
  <li>Blood, Sweat, and Pixels: The Triumphant, Turbulent Stories Behind How Video Games Are Made, by Jason Schreier ★★★★★</li>
  <li>Meditations, by Marcus Aurelius ★★★★</li>
  <li>The Neverending Story, by Michael Ende ★★★★</li>
  <li>Siddhartha, by Hermann Hesse ★★★</li>
  <li>The Lean Startup, by Eric Ries ★★★</li>
  <li>The Dark Tower III: The Waste Lands, by Stephen King ★★★★★</li>
  <li>The Dark Tower II: The Drawing of the Three, by Stephen King ★★★★★</li>
  <li>The Dark Tower: The Gunslinger, by Stephen King ★★★★</li>
  <li>The Leopard, by Giuseppe Tomasi di Lampedusa ★★★★</li>
  <li>The Phoenix Project, by Gene Kim, Kevin Behr, George Spafford ★★★★</li>
  <li>The Master and Margarita, by Mikhail Bulgakov</li>
  <li>Scar Tissue, by Anthony Kiedis , Larry Sloman ★★★★★</li>
  <li>Good Omens, by Neil Gaiman , Terry Pratchett ★★★</li>
  <li>Predictabily Irrational, by Dan Ariely ★★★★★</li>
  <li>Jonathan Strange & Mr. Norrell, by Susanna Clarke ★★★★★
  <li>How to Fail at Almost Everything and Still Win Big: Kind of the Story of My Life, by Scott Adams ★★★★★</li>
  <li>The Ocean at the End of the Lane, by Neil Gaiman ★★★★★</li>
  <li>Kingkiller Chronicle: The Wise Man's Fear, by Patrick Rothfuss ★★★★</li>
  <li>Too Bright to Hear Too Loud to See, by Juliann Garey ★★★★★</li>
  <li>Les Liaisons Dangereuses, by Choderlos de Laclos ★★★</li>
  <li>The Five Keys to Mindful Communicatio, by Susan Gillis Chapman ★★★</li>
  <li>Kingkiller Chronicle: The Name of the Wind, by: Patrick Rothfuss ★★★★★</li>
  <li>Neverwhere, by Neil Gaiman ★★★★★</li>
  <li>What You Need to Know About: Project Management, by Fergus O'Connell ★★★★★</li>
  <li>Ready Player One, by Ernest Cline ★★★★★</li>
  <li>American Gods, by Neil Gaiman ★★★★</li>
  <li>Foundation I-III: The Foundation Trilogy, by Isaac Asimov ★★★★★</li>
  <li>Discworld III: Equal Rites, by Terry Pratchett ★★★★★</li>
  <li>Discworld II: The Light Fantastic ★★★★★</li>
  <li>Discworld: The Color of Magic ★★★★★</li>
  <li>The Martian, by Andy Weir ★★★★★</li>
  <li>Q, by Luther Blisset</li>
  <li>The Earthsea Cycle:Tehanu, by Ursula K. Le Guin ★★★</li>
  <li>The Earthsea Cycle:The Farthest Shore, by Ursula K. Le Guin ★★★★</li>
  <li>The Earthsea Cycle:The Tombs of Atuan, by Ursula K. Le Guin ★★★★</li>
  <li>The Earthsea Cycle: A Wizard of Earthsea, by Ursula K. Le Guin ★★★★★</li>
  <li>The Alchemist, by Paulo Coelho</li>
  <li>The Little Prince</li>
</ul>

{% include footer.html %}
