---
layout: page
title: Bookshelf
---

<h3>Currently reading:</h3>

<ul>
  {% for book in site.categories["books"] %}
    {% if book.finished %} {% continue %} {% endif %}
    {% assign folder = book.path | split: "/" | first %}
    <li><a href="{{ book.url }}">{% if folder == "_drafts" %}&#10033;&nbsp;{% endif %}{{ book.title }}</a> - {{ book.description }}</li>
  {% endfor %}
</ul>

<h3>Summaries:</h3>

<ul>
  {% for book in site.categories["books"] %}
    {% unless book.finished %} {% continue %} {% endunless %}
    {% assign folder = book.path | split: "/" | first %}
    <li><a href="{{ book.url }}">{% if folder == "_drafts" %}&#10033;&nbsp;{% endif %}{{ book.title }}</a> - {{ book.description }} {{ book.stars }}</li>
  {% endfor %}
</ul>

<h3>Completed:</h3>

<ul>
  <li>The Dark Tower VII: The Dark Tower ⭑⭑⭑⭑</li>
  <li>The Dark Tower VI: Song of Susannah ⭑⭑⭑</li>
  <li>The Dark Tower V: Wolves of the Calla ⭑⭑⭑</li>
  <li>The Dark Tower IV: Wizard and Glass ⭑⭑⭑⭑⭑</li>
  <li>The Dark Tower III: The Waste Lands ⭑⭑⭑⭑⭑</li>
  <li>The Dark Tower II: The Drawing of the Three ⭑⭑⭑⭑⭑</li>
  <li>The Dark Tower: The Gunslinger ⭑⭑⭑⭑</li>
</ul>

{% include footer.html %}
