---
layout: base
title: Principles
---

<h2>{{ page.title }}</h2>

This is my bag of awesome: notes, tricks, systems and tools.

</p>Also available as a <a href="/timeline">timeline</a>.

<div class="remarkdown table-marker">

  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 28%;">
      <col span="1" style="width: 72%;">
    </colgroup>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Notes</th>
    </tr>
    {% assign categories = site.categories | sort %}

    {% for category in categories %}
      {% assign cat = category[0] %}

      <tr>
        <td><h3>{% include pretty-category.html category=cat %}</h3></td>
        <td>
          {% assign posts = site.categories[cat] | sort: 'title' %}

          {% for post in posts %}
            {% assign folder = post.path | split: "/" | first %}
            <h4>
              <a href="{{ post.url }}">{% if folder == "_drafts" %}&#10033;&nbsp;{% endif %}{{ post.title }}</a></h4>
            {% unless forloop.last %} • {% endunless %}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

{% include footer.html %}
