<div class="footer row" style="text-align:center">
	<hr/>
	<p>All Writing by Andrea Della Corte, &copy; 2017<script>new Date().getFullYear()>2017&&document.write(" - "+new Date().getFullYear());</script></p>

	<p>Code on <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/andreadellacorte/dellacorte.me">Github</a>
		<span style="color: var(--accent-color);">|</span>
	Last updated on {{ site.time | date: '%Y-%m-%d, %I:%M:%S %p %Z' }}</p>

	<p>
		Theme by <a href="https://fvsch.github.io/remarkdown/">fvsch/remarkdown</a>
		<span style="color: var(--accent-color);">| </span>
		Palette:
		<a href="#paletteOne" id="paletteOne">1</a>
		{% unless site.environment == 'production' %}
		<a href="#randomizeColors" id="randomizeColors">random</a>
		{% endunless %}
	</p>
</div>