<head>
  {% include header_analytics.html %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="author" content="Andrea Della Corte">
  <meta name="description" content="Life coach & aspiring expert">
  <meta name="theme-color" content="#477DB8">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Andrea Della Corte">
  <meta property="og:url" content="https://dellacorte.me/">
  <meta property="og:description" content="Life coach & aspiring expert">
  <meta property="og:image" content="https://dellacorte.me/img/andreadellacorte.jpg">
  <meta name="x-build-time" content="{{ site.time | date: "%-d %B %Y" }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@adielleci">
  <meta name="twitter:creator" content="@adielleci">

  {% if page.category %}
    {% assign words = page.category | split: "-" %}
    {% capture catTitle %}{% for word in words %} {{ word | capitalize }} {% endfor %}{% endcapture %}
    <title>{{ catTitle }} > {{ page.title }}</title>
  {% else %}
    <title>{{ page.title }}</title>
  {% endif %}
  <link href="/css/remarkdown.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico" />
  {% feed_meta %}
</head>
