{% assign just_tag = page.categories[1] %}

{% unless site.tags[just_tag].size == 1 %}

  {% assign words = just_tag | split: " " %}
  {% capture tagTitle %}{% for word in words %} {{ word | capitalize }} {% endfor %}{% endcapture %}

  <h2>Other {{ tagTitle }} Pages</h2>
  <ul>
    {% for post in site.tags[just_tag] %}
      {% unless post.url == page.url %}
        <li>
          {{ post.date | date: "%B %d, %Y" }}: <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
{% endunless %}
