<!doctype html>
<html lang="en">
	<span id="top"></span>
	<head>
	{% include header.html %}
	{% include styling.html %}
	</head>
	<body class="remarkdown">
		{% include body_analytics.html %}
		{% include nav.html %}
		<main class="remarkdown">
			{{ content }}
		</main>
		<script src="//instant.page/2.0.0" type="module" defer
			integrity="sha384-D7B5eODAUd397+f4zNFAVlnDNDtO1ppV8rPnfygILQXhqu3cUndgHvlcJR2Bhig8">
		</script>
	</body>
	<script>
		$(document).ready( function () {
	  	$('#dataTables').DataTable({
		    "columnDefs": [
		        {"className": "dt-center", "targets": "_all"}
		      ],
				"iDisplayLength": 50
			  });
			} );
	</script>
</html>
