<!doctype html>
<html lang="en">
	{% include header.html %}
	<body class="remarkdown">
		{% include body_analytics.html %}
		{% include nav.html %}
		<main class="remarkdown">
			{{ content }}
		</main>
		<script src="//instant.page/1.0.0"
			type="module"
			integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI">
		</script>
	</body>
	<script>
		$(document).ready( function () {
	  	$('#dataTables').DataTable({
		    "columnDefs": [
		        {"className": "dt-center", "targets": "_all"}
		      ],
				"iDisplayLength": 50,
				"order": [[ 2, "desc" ]]
			  });
			} );
	</script>
</html>
