---
layout: base
---
<div class="row">
	<h2>{{ page.title }} - {{ page.description }}</h2>
	<blockquote>by {{ page.authors}}, {{ page.year }}</blockquote>
	Buy it on <a href="{{page.link}}">{{ page.store }}</a>
	{% if page.toc %}
		<h3> Table of Contents</h3>
		{% include toc.html html=content %}
	{% endif %}
</div>
<div class="row">{{content}}</div>

{% include related.html %}

{% include subscribe-footer.html %}

{% include social.html %}

{% if page.comments %}
	{% include comments.html %}
{% endif %}

{% include footer.html %}
