---
layout: base
---
<div class="row">
	<h2>{{ page.title }} - {{ page.description }}</h2>
	<blockquote>a book by {{ page.authors}}, {{ page.year }}</blockquote>

	Buy it on <a href="{{page.link}}">{{ page.store }}</a> • <i class="fa fa-clock-o"></i>
  {% if words contains "-" %}
  	1 minute read
  {% else %}
  	{{ words | plus: 220 | divided_by: 220 | append: " minutes read" }}
  {% endif %}
	{% if page.toc %}
		<h3> Table of Contents</h3>
		{% include toc.html html=content %}
	{% endif %}
</div>
<div class="row">{{content}}</div>

<a href="#top" onclick='window.scrollTo({top: 0, behavior: "smooth"}); return false;'>Back to top ↑</a>

{% include related.html %}

{% if page.comments %}
	{% include comments.html %}
{% endif %}

{% include footer.html %}
